venv
__pycache__/

workshop_4/data_in/
!workshop_4/data_in/.gitkeep
workshop_5/inputs/artificial_hes
!workshop_5/inputs/artificial_hes/.gitkeep
output_folder
example.docx
modified_template.docx
workshop_6/word_docs/gp_registrations_november.docx
.pytest*
*.xlsx
!report_template.xlsx